<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<button>
    <a href="/">Home</a>
</button>
<button>
    <a href="/keys">KEYS</a>
</button>
<button>
    <a href="/users">USERS</a>
</button>
<h1>Please fill in data for adding a new user to the database:</h1>
<form action="#" th:action="@{/users}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="Surname">
    <input type="submit" value="Send">
</form>

</body>
</html>