<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<button>
    <a href="/">Home</a>
</button>
<h1>please fill inn data for adding a new door to the database:</h1>
<form action="#" th:action="@{/doors}" th:object="${door}" method="post">
    <label for="code">Code</label>
    <input type="text" th:field="*{code}" id="code" placeholder="Code">
    <input type="submit" value="Send">
</form>

</body>
</html>