<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<button>
    <a href="/borrowings/borrowKeyForm">Borrow Key</a>
</button>
<button>
    <a href="/">Home</a>
</button>


<h1>List of available keys:</h1>
<p th:text="${returnedKeyMessage}"></p>
<table>
    <thead>
    <tr>
        <td>Code:</td>
    </tr>
    </thead>
    <tbody>
    <tr th:block th:each="key : ${availableKeyList}">
            <td th:text="${key.code}"></td>
        </tr>
    </trth:block>
    </tbody>
</table>
</body>
</html>