<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>

<button>
    <a href="/">Home</a>
</button>

<button>
    <a th:href="@{/borrowings/key/{id}/borrow(id=${key.id})}">Borrowings</a>
</button>


<h1>List of borrowed keys:</h1>
<p th:text="${borrowedKeyMessage}"></p>
<table>
    <thead>
    <tr>
        <td>Code:</td>
    </tr>
    </thead>
    <tbody>
    <tr th:block th:each="key : ${borrowedKeyList}">
            <td th:text="${key.code}"></td>
            <td>
                <button>
                    <a th:href="@{/borrowings/key/{id}/return(id=${key.id})}">Return key</a>
                </button>
            </td>
        </tr>
    </trth:block>
    </tbody>
</table>



</body>
</html>