<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>

<button>
    <a href="/">Home</a>
</button>
<button>
    <a href="/keys">KEYS</a>
</button>
<button >
    <a href="/users">USERS</a>
</button>

<h1>List of borrowed keys:</h1>

<table>
    <th:block th:each="key : ${borrowedKeyList}">
        <tr>
            <td th:text="${key.code}"></td>
        </tr>
    </th:block>
</table>

</body>
</html>