<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<button>
    <a href="/">Home</a>
</button>

<h1>Please fill in user data and the key you wish to borrow:</h1>
<form action="#" th:action="@{/borrowings/borrow}" th:object="${borrowingCreation}" method="post">
    <label for="userId">User</label>
    <select id="userId" name="userId">
        <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.fullname}"></option>
    </select>
    <label for="keyId">Key</label>
    <select id="keyId" name="keyId">
        <option th:each="key : ${availableKeyList}" th:value="${key.id}" th:text="${key.code}"></option>
    </select>
    <input type="submit" value="borrow">
</form>

</body>
</html>