<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>

<button>
    <a href="/">Home</a>
</button>
<h1 th:text="${keyMessage}"></h1>

<h1>Current:</h1>
<table>
    <thead>
        <tr>
            <td>Name:</td>
            <td>Surname:</td>
            <td>Borrowed from:</td>
        </tr>
    </thead>
    <tbody>
    <tr th:block th:each="borrowing : ${currentBorrowersList}">
            <td th:text="${borrowing.user.name}"></td>
            <td th:text="${borrowing.user.surname}"></td>
            <td th:text="${borrowing.dateFrom}"></td>
        </tr>
    </trth:block>
    </tbody>
</table>

<h1>History:</h1>
<table>
    <thead>
        <tr>
            <td>Name:</td>
            <td>Surname:</td>
            <td>Borrowed from:</td>
            <td>Returned:</td>
        </tr>
    </thead>
    <tbody>
    <tr th:block th:each="borrowing : ${borrowersList}">
            <td th:text="${borrowing.user.name}"></td>
            <td th:text="${borrowing.user.surname}"></td>
            <td th:text="${borrowing.dateFrom}"></td>
            <td th:text="${borrowing.dateTo}"></td>
        </tr>
    </trth:block>
    </tbody>
</table>



</body>
</html>