<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<button>
    <a href="/doors/addDoorForm">Create Door</a>
</button>
<button>
    <a href="/doors/deleteDoorForm">Delete Door</a>
</button>
<button>
    <a href="/">Home</a>
</button>

<h1>List of doors:</h1>

    <p th:text="${createdDoorMessage}"></p>
    <p th:text="${deletedDoorMessage}"></p>

<table class="test-table">
    <thead>
         <tr>
            <td>Code:</td>
        </tr>
    </thead>
    <tbody>
        <tr th:block th:each="door : ${doorList}">
            <td th:text="${door.code}"></td>
        </tr>
    </trth:block>
    </tbody>
</table>
</body>
</html>