<!DOCTYPE HTML>
<html xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
</style>
</head>
<body>

<h2>Image Text Blocks</h2>
<p>How to place text blocks over an image:</p>

<div class="container">
    <img src="tittel.jpg" alt="tittel" style="width:100%;">
    <div class="text-block">
        <h4>Welcome</h4>
        <p>in a School Key Manager System</p>
    </div>
</div>

</body>
</html>
