<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>

<button>
    <a href="/">Home</a>
</button>
<h1 bold>Key</h1>
<h2>key:</h2>
<table>
    <p>key id</p>
    <tr>
        <td th:text="${key.getId}"></td>
    </tr>

    <p>key code</p>
    <tr>
        <td th:text="${key.getCode}"></td>
    </tr>
</table>

<h1>List of borrowers for a key:</h1>

<h2>history of the borrowers for a key:</h2>
<table>
    <th:block th:each="user : ${borrowedKeyList}">

        <p>Surname of the borrower</p>
        <tr>
            <td th:text="${user.getSurname}"></td>
        </tr>
        <p>Name of the borrower</p>
        <tr>
            <td th:text="${user.getName}"></td>
        </tr>
    </th:block>
    <p>key was borrowed from:</p>
    <th:block th:each="dateFrom : ${borrowedKeyList}">
        <p>borrowed from</p>
        <tr>
            <td th:text="${action.dateFrom}"></td>
        </tr>
    </th:block>
    <p>key was returned:</p>
    <th:block th:each="dateTo : ${borrowedKeyList}">
        <p>returned:</p>
        <tr>
            <td th:text="${action.dateFrom}"></td> <!-- osetrit nulovy vstup u nevraceneho klice-->
        </tr>
    </th:block>
</table>

<h2>key is actually by:</h2>
    if (this.keyDao.getAvailableKeys()) {
        <div>
            <p th:text="${createdInfoKeyMessage}"></p><!-- klic je k dispozici, nachazi se na vratninci-->
        </div>
    }else{
        <p>Surname of the borrower</p><!-- klic je u uzivatele-->
        <tr>
            <td th:text="${user.getSurname}"></td>
        </tr>
        <p>Name of the borrower</p>
        <tr>
            <td th:text="${user.getName}"></td>
        </tr>
        </th:block>
        <p>key was borrowed from:</p>
        <th:block th:each="dateFrom : ${borrowedKeyList}">
            <p>borrowed from</p>
            <tr>
                <td th:text="${action.dateFrom}"></td>
            </tr>
        </th:block>
    }
</body>
</html>