<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<button>
    <a href="/keys/addKeyForm">Create Key</a>
</button>
<button>
    <a href="/keys/available">Available Keys</a>
</button>
<button>
    <a href="/keys">KEYS</a>
</button>
<button>
    <a href="/users">USERS</a>
</button>
<button>
    <a href="/borrowings-by-key">borrowings by key</a>
<!--    nefunguje-->
</button>
<button>
<!-- FIX dava to asi chybna data z databaze, nebo available keys nebudou spravne
protoze klic C1234 s id7 a klic PS29C s id8 vubec nejsou jednak zapsane v tabulce borrowed-status a jednak se vylistovavaji
jak v seznamu available keys tak v seznamu boroowed keys a to zaroven neni mozne-->
    <a href="/keys/borrowed">Borrowed Keys</a>
</button>

<button>
    <a href="/">Home</a>
</button>
<h1>List of keys:</h1>
<div>
    <p th:text="${createdKeyMessage}"></p>
</div>
<table>
    <th:block th:each="key : ${keyList}">
        <tr>
            <td th:text="${key.code}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>