<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<button>
    <a href="/keys/addKeyForm">Create Key</a>
</button>
<button>
    <a href="/keys/deleteKeyForm">Delete Key</a>
</button>
<button>
    <a href="/keys/available">Available Keys</a>
</button>
<button>
    <a href="/keys/borrowed">Borrowed Keys</a>
</button>

<button>
    <a href="/">Home</a>
</button>
<h1>List of keys:</h1>

    <p th:text="${createdKeyMessage}"></p>
    <p th:text="${deletedKeyMessage}"></p>



<table>
    <thead>
        <tr>
            <td>Code:</td>
         </tr>
    </thead>
    <tbody>
        <tr th:block th:each="key : ${keyList}">
            <td th:text="${key.code}"></td>
            <td>
                <button>
                    <a th:href="@{/borrowings/key/{id}(id=${key.id})}">Borrowings</a>
                </button>
            </td>
        </tr>
        </trth:block>
    </tbody>
</table>
</body>
</html>