<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" />
</head>
<body>
<button>
    <a href="/users/addUserForm">Create User</a>
</button>
<button>
    <a href="/">Home</a>
</button>

<h1>List of users:</h1>
<div>
    <p th:text="${createdUserMessage}"></p>
</div>
<table>
    <th:block th:each="user : ${userList}">
        <tr>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td>
                <button>
                    <a th:href="@{/borrowings/user/{id}(id=${user.id})}">Borrowings</a>
                </button>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>